{% extends "layout.html" %}
{% block title %}Food Transaction{% endblock %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="contact-clean">
                    <form method="post" class="shadow-lg">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if "empty" in message or "found" in message %}
                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                                {% else %}
                                <div class="alert alert-success" role="alert">Successful!!</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <h2 class="text-center">Food Transaction Information</h2>
                        <div class="mb-3">
                            <input class="form-control" type="text" name="transactionID" placeholder="Transaction ID"/><br>
                            <input class="form-control" type="text" name="orderID" placeholder="Order ID" /><br>
                            <input class="form-control" type="text" name="customerName" placeholder="Customer Name"/><br>
                            <input class="form-control" type="text" name="customerLastName" placeholder="Customer Last Name"/>
                        </div>
                        <div class="d-grid gap-lg-5 d-md-flex">
                            <button class="btn btn-primary" type="submit" name="button" value="add">Add Delivery</button>
                            <button class="btn btn-secondary" type="submit" name="button" value="updateOnTheWay">Update to On The Way</button>
                        </div>
                        <br>
                        <div class="d-grid gap-lg-5 d-md-flex">
                            <button class="btn btn-secondary" type="submit" name="button" value="updateDelivered">Update to Delivered</button>
                            <button class="btn btn-danger" type="submit" name="button" value="deleteDelivered">Delete Delivered Orders</button>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="table-info">
                            <tr>
                                <th>{{ column_data[0] }}</th>
                                <th>{{ column_data[1] }}</th>
                                <th>{{ column_data[2] }}</th>
                                <th>{{ column_data[3] }}</th>
                                <th>{{ column_data[4] }}</th>
                                <th>{{ column_data[5] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                            <tr>
                                <td style="font-weight: bold">{{ item[0] }}</td>
                                <td>{{ item[1] }}</td>
                                <td>{{ item[2] }}</td>
                                <td>{{ item[3] }}</td>
                                <td>{{ item[4] }}</td>
                                <td>{{ item[5] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}