{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}<link rel="stylesheet" href="../static/css/Highlight-Blue.css">{% endblock %}
{% block content %}
  <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <section class="highlight-blue">
                    <div class="container">
                        <div class="intro">
                            <h4 class="text-center">Welcome to Restaurant Management System</h4>
                        </div>
                    </div>
                    <img src="/static/restaurant.jpeg">
                </section>
            </div>
        </div>
    </div>
{% endblock %}