<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/static/logo.png" width="30" height="30" alt=""> PaşaZade</a>
            <div id="navcol-1" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('employee') }}">Employee</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('booking') }}">Booking</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('food_transaction') }}">Food Transaction</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('item_order') }}">Orders</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Customer Menu</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('customer') }}">Customer</a>
                            <a class="dropdown-item" href="{{ url_for('customer_phone_num') }}">Customer Phone Number</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Supplier Menu</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('supplier') }}">Supplier</a>
                            <a class="dropdown-item" href="{{ url_for('supplier_phone_num') }}">Supplier Phone Number</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Menu</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('item') }}">Item</a>
                            <a class="dropdown-item" href="{{ url_for('recipe') }}">Recipe</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    {% block content %}
    {% endblock %}
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>