{% extends "layout.html" %}
{% block title %}Recipe{% endblock %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-6">
{#                <section class="contact-clean">#}
{#                    <form method="post">#}
{#                        <h2 class="text-center">Form</h2>#}
{#                        <div class="mb-3">#}
{#                            <input class="form-control" type="text" name="name" placeholder="Entry" />#}
{#                            <input class="form-control" type="text" name="name" placeholder="Entry" />#}
{#                            <input class="form-control" type="text" name="name" placeholder="Entry" />#}
{#                        </div>#}
{#                        <div class="d-grid gap-lg-5 d-md-flex">#}
{#                            <button class="btn btn-primary" type="button">Button</button>#}
{#                            <button class="btn btn-primary" type="button">Button</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </section>#}
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="table-info">
                            <tr>
                                <th>{{ column_data[0] }}</th>
                                <th>{{ column_data[1] }}</th>
                                <th>{{ column_data[2] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                            <tr>
                                <td style="font-weight: bold">{{ item[0] }}</td>
                                <td>{{ item[1] }}</td>
                                <td>{{ item[2] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}